<div class='form-user'>
<%= f.label 'Name :' %><br>
<%= f.text_field :name %><br>

<% if @user.name %>
<%= f.label 'new password :' %><br>
<%= f.text_field :password %><br>
<%= f.label 'new password confirmation :' %><br>
<%= f.text_field :password_confirmation %><br>
<%else%>
<%= f.label 'password :' %><br>
<%= f.text_field :password %><br>
<%= f.label 'password confirmation :' %><br>
<%= f.text_field :password_confirmation %><br>
<%end%>
<%= f.label 'Email :' %><br>
<%= f.email_field :email %><br>

</div>

